.layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.layoutHeader {
  flex-shrink: 0;
}

.layoutMain {
  flex: 1;
  overflow: hidden;
}

.layoutFooter {
  flex-shrink: 0;
}
