.label {
    padding: 1px 4px;
    font-size: 12px;
    background: rgb(240, 86, 114);
    border-radius: 4px;
}

.followedLabel {
    padding: 1px 4px;
    font-size: 12px;
    background: rgb(85, 148, 247);
    border-radius: 4px;
    margin-left: 6px;
}
