.adminHeader {
  height: 64px;
  background: var(--semi-color-bg-1);
  border-bottom: 1px solid var(--semi-color-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.mainContainer {
  padding: 24px;
}
