.menu {
  display: flex;
}

.menuItem {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuItemName {

}

.menuItemNameActivate {
  color: white;
  font-weight: 800;
}
